include *.md
include LICENSE
include .bumpversion.cfg
include .coveragerc
include .mypy.ini
include *.yaml
include *.toml
include NOTICE
recursive-include chainlibpy *.typed
recursive-include example *.py
